
$mainBlue: #3e92d2;


@import url(https://fonts.googleapis.com/css?family=Raleway:300);

html {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
}
.spaceRow {
	height: 1em;
	width: 100%;
}
.mainContainer {
	position: relative;
	width: 70%;
	max-width: 900px;
	margin: auto;
	margin-top: 2em;
	padding-bottom: .1em;
	border-radius: .5em;
	border: solid 1px $mainBlue;
}
.mainContainerBorderless {
	position: relative;
	width: 70%;
	max-width: 900px;
	margin: auto;
	margin-top: 2em;
}
.mcTitle {
	width: 100%;
	height: 2em;
	line-height: 2em;
	color: white;
	background: $mainBlue;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
}
.mcTitleInner {
	margin-left: 1em;
}
.mcBody {
	width: 100%;
}
@media(max-width: 600px) {
	.mainContainer {
		width: 90%;
		margin-top: 2em;
	}
	.mainContainerBorderless {
		width: 90%;
		margin-top: 2em;
	}
}

.hidden {
	display: none;
}

.blueButton {
	cursor: pointer;
	background: $mainBlue;
	color: white;
	border-radius: 0.5em;
	padding: 0.5em;
	width: 4.5em;
	text-align: center;	
}
.whiteButton {
	cursor: pointer;
	background: white;
	color: $mainBlue;
	border-radius: 0.5em;
	padding: 0.5em;
	width: 4.5em;
	text-align: center;	
}

/* login / register */
.loginOuter {
	
}
.loginInner {
	position: relative;	
	width: 	12em;
	padding-top: 	3em;
	padding-bottom: 	3em;
	margin-left: 	auto;
	margin-right: 	auto;
}

/* live menu code */
.slideshow {
	width: 100%;
	height: 16em;
	background: $mainBlue;
	z-index: 2;
}

.content {
	z-index: 10;
}
.mainInfoCircle {
	color: white;
	width: 12em;
	padding-top: .5em;
	padding-bottom: .5em;
	line-height: 1.5em;
	font-size: 1.5em;
	text-align: center;
	background: $mainBlue;	
	border: solid .5em white;
	border-radius: 	1em;
	margin-left: 	auto;
	margin-right: 	auto;
	margin-top: 	-1.75em;
	z-index: 10;
}
.insideCircle {
	color: white;
	text-align: center;
	width: 80%;
	margin-left: 	auto;
	margin-right: 	auto;
	font-size: 	1.2em;
}
.preCart {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}
.preCartHidden {
	display: none;
}
.preCartInner {
	background: white;
	text-align: center;
	padding: 3em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
	border-radius: .5em;
}

.cartAll {
	position: fixed;
	border: solid 1px $mainBlue;
	border-radius: .5em;
	bottom: 1em;
	width: 90%;
	left: 5%;
	background: white;
}

.cartExpanded {
	max-height: 100%;
}
.cartHidden {
	max-height: 0;
	overflow: hidden;
}

.cartTitle {
	cursor: pointer;
	padding-bottom: 1em;
	padding-top: 1em;
	border-radius: .5em;
	width: 100%;
	background: $mainBlue;
	text-align: center;
	color: white;
}
.cartLine {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
}
.cartUnderline {
	border-bottom: solid 1px;
}
.liveFooter {
	height: 8em;
	width: 100%;
}



/* top bar code */
.topBar a {
	color: $mainBlue;
}
.logoPic {
	height: 2em;
	width: 2em;
	/*background-image: url(logo.svg);*/
	background-size: cover;
	display: inline-block;
	vertical-align: bottom;
}
.logoText {
	font-size: 2em;
	display: inline-block;
	vertical-align: bottom;
}
.topRight {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1.5em;
	vertical-align: bottom;
}
.accountButton {
	padding: .2em;
}
.accountButton:hover {
	text-decoration: underline;
}
@media(max-width: 600px) {
	.logoPic {
		height: 1.5em;
		width: 1.5em;
	}
	.logoText {
		font-size: 1.5em;
	}
}




/* front page */
.headerPic {
	position: relative;
	width: 100%;
	height: 50%;
	/*background-image: url('blueflame.jpg');*/
	background: black;
}
.halfPic {
	width: 50%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}
.halfPicCaption {
	vertical-align: top;
	display: inline-block;
	margin-left: 5%;
	width: 40%;
}
@media(min-width: 950px) {
	.captionDownShift {
		margin-top: 4em;
	}
}
.leftTitle {
	width: 100%;
	font-size: 1.5em;
	color: $mainBlue;
}
.centerTitle {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: $mainBlue;
}
.centerSubtitle {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: $mainBlue;
}
.centerParagraph {
	width: 70%;
	margin: auto;
	margin-top: 1em;
}
.footer {
	width: 100%;
	margin-top: 2em;
	height: 10em;
	background: $mainBlue;
}




/* navigation bar */
.dashBar {
	width: 100%;
	height: 2em;
	margin-top: 2em;
	background: $mainBlue;
}
.dashMenu {
	width: 100%;
	color: $mainBlue;
	border-bottom: solid 1px $mainBlue;
}
.dashMenuInner {
	width: 70%;
	line-height: 2em;
	margin: auto;
}
.dashMenuInner a {
	color: $mainBlue;
	margin-left: 1em;
}
.dashMenuInner a:hover {
	text-decoration: underline;
}
.dashMenuItem {
	white-space: nowrap;
}
@media(max-width: 600px) {
	.dashMenuInner {
		margin-left: 0;
	}
	.dashMenuItem {
		display: block;
	}
}


/* orders area */
.orderBar {
	width: 	95%;
	margin: auto;
	margin-top: .2em;
	margin-bottom: .2em;
	padding: .2em;
	border: solid 1px $mainBlue;
	border-radius: .5em;
}
.newCircle {
	height: .8em;
	width: .8em;
	padding: .2em;
	color: white;
	border: solid 1px $mainBlue;
	background: $mainBlue;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}
.notNew {
	background: white;
}
.inlineBlock {
	display: inline-block;
}
.cartListOuter {
	border-bottom: solid 1px $mainBlue;
}
.orderTitle {
	height: 1em;
	padding: .2em;
	font-weight: bold;
	display: inline-block;
	vertical-align: bottom;
}
.orderDetailsHidden {
	display: none;
}
.orderDetailsShow {
	display: block;
}
.detailLine {
	margin-left: 1.5em;
}
/* settings page */
.settingsRow {
	width: 100%;
	margin-top: 1em;
}
.switchColumn {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
	width: 4em;
	color: $mainBlue;
}
	.toggleOuter {
		border: solid 1px;
		width: 4em;
		height: 2em;
		border-radius: 2em;
	}
	.toggleInner {
		background: $mainBlue;
		height: 1.4em;
		width: 1.4em;
		border-radius: 1.4em;
		margin-top: .3em;
		margin-left: .3em;
		transition: margin-left .5s;
	}
	.offSwitch {
		margin-left: 2.3em
	}
	.toggleLabel {
		width: 4em;
		height: 1em;
		text-align: center;
	}
.descColumn {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
	width: 75%;
}
.basicInput {
	display: block;
}
.nowrap {
	white-space: nowrap;
}
@media(max-width: 600px) {
	.descColumn {
		width: 60%;
	}
}
#map {
	width: 100%;
	min-height: 30em;
	top: 0;
	bottom: 0;
}
.calculation-box {
    height: 8em;
    width: 8em;
    position: absolute;
    bottom: 0;
    left: 1em;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
}
.mapboxgl-ctrl-top-right {
    top: .5em;
    left: 1em;
    width: 	4em;
    margin: 0;
}

.numInput {
	width: 	4em;
}


/* builder page */

.menuRow {
	width: 100%;
	margin-top: 1em;
}
.menuRow:hover > .insertRow {
	opacity: 1;
}
.insertRow {
	width: 100%;
	transition: .5s;
	opacity: 0;
	border-bottom: solid 1px $mainBlue;
	text-align: center;
	color: $mainBlue;
}
.orderColumn {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
	width: 3em;
}
.atcCircle {
	cursor: pointer;
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	border-radius: 0.75em;
	margin-left: auto;
	margin-right: auto;
	background: white;
	color: $mainBlue;
	border: solid 1px $mainBlue;
	text-align: center;
}
.atcCircle:hover {
	background: $mainBlue;
	color: white;
}
.atcPrice {
	width: 3em;
	text-align: center;
	color: $mainBlue;
}
.menuColumn {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
	width: 80%;
}

.menuSubtitle {
	color: $mainBlue;
	font-size: 1.25em;
}

.addRow, .deleteRow, .deleteSubtitle, .editTitle, .editSubtitle, .editRow {
	display: inline-block;
	cursor: pointer; 
}
	.editTitleContain {
		width: 100%;
		text-align: center;
	}
	.editTitleInput {

	}
	.editTitleButton, .editSubtitleButton, .pickRowType, .cancelRowType, .addRowFinal, .cancelAddRow {
		background: white;
		color: $mainBlue;
		border: solid 1px $mainBlue;
		padding: .2em;
		border-radius: .5em;
		margin-left: 1em;
		cursor: pointer;
	}
	.editTitleButton:hover, .editSubtitleButton:hover, .pickRowType:hover, .cancelRowType:hover, .addRowFinal:hover, .cancelAddRow:hover {
		background: $mainBlue;
		color: white;
	}

.itemTitleInput {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}
.itemDescInput {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}
.itemPriceInput {
	width: 5em;
	margin-bottom: 1em;
}
.deleteSection {
	width: 100%;
	text-align: center;
	color: $mainBlue;
	cursor: pointer;
}
.newMC {
	border: dashed 1px $mainBlue;
	height: 3em;
	line-height: 3em;
	color: $mainBlue;
	text-align: center;
	cursor: pointer;
}

@media(max-width: 600px) {
	.menuColumn {
		width: 70%;
	}
}

